<div class="container">
	<div class="row d-print-none">
		<div class="col-10">
			<h1>Producción por Área</h1>
		</div>
	</div>
	<form class="d-print-none" (submit)="submitSearch($event)" ngNativeValidate>
		<div class="row">
			<div class="col-12 col-md-4">
				<div class="form-group">
					<label for="production_area">Área de producción</label>
					<select class="form-control" name="production_area_id" id="production_area_id" [(ngModel)]="production_area_id" required>
						<option value="">Seleccionar</option>
						@for (area of production_area_list; track area.id)
						{
							<option [ngValue]="area.id">{{area.name}}</option>
						}
					</select>
				</div>
			</div>
			<div class="col-12 col-md-2">
				<label for="start_date">Desde</label>
				<input type="date" class="form-control" name="start_date" id="start_date" [(ngModel)]="start_date" required>
			</div>

			<div class="col-12 col-md-2">
				<label for="end_date">Hasta</label>
				<input type="date" class="form-control" name="end_date" id="end_date" [(ngModel)]="end_date" required>
			</div>
			<div class="col-12 col-md-2 text-end">
				@if( production_detail_list.length )
				{
					<a [routerLink]="['/print-nomina-in-list']" [queryParams]="{start_date,end_date,production_area_id}">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M12 9a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3m0 8a5 5 0 0 1-5-5a5 5 0 0 1 5-5a5 5 0 0 1 5 5a5 5 0 0 1-5 5m0-12.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5"/></svg>
					</a>
				}
			</div>
			<div class="col-12 col-md-2">
				<label>&nbsp;</label>
				<div>
					<button type="submit" class="btn btn-primary">Buscar</button>
				</div>
			</div>
		</div>
	</form>

	<h2>Consumos</h2>

	<table class="table">
		<thead>
			<tr>
				<th>Producto</th>
				<th>Fecha</th>
				<th class="text-end">Precio</th>
				<th class="text-end">Litros</th>
				<th class="text-end">Total</th>
			</tr>
		</thead>
		<tbody>
			@for (consumption_info of consumption_info_list; track consumption_info.consumption.id)
			{
				<tr>
					<td>{{consumption_info.item.name}}
					<td>{{consumption_info.consumption.consumed | shortDate}}</td>
					<td class="text-end">{{consumption_info.consumption.price | currency:'$'}}</td>
					<td class="text-end">{{consumption_info.consumption.qty}}</td>
					<td class="text-end">{{consumption_info.consumption.price * consumption_info.consumption.qty | currency:'$' }}</td>
				</tr>
			}
		</tbody>
	</table>

	<h2>Producción Detallada</h2>
	<table class="table">
		<thead>
			<tr>
				<th>Producto</th>
				<th>Fecha</th>
				<th class="text-end">Piezas</th>
				<th class="text-end">KG</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let detail of production_detail_list">
				<td>{{ detail.product }}</td>
				<td>{{ detail.date | shortDate }}</td>
				<td class="text-end">{{ detail.pieces | number:'1.0-0' }}</td>
				<td class="text-end">{{ detail.kg | number:'1.2-2' }}</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="2" class="text-end"><strong>Total</strong></td>
				<td class="text-end"><strong>{{ total_pieces | number:'1.0-0' }}</strong></td>
				<td class="text-end"><strong>{{ total_kg | number:'1.2-2' }}</strong></td>
			</tr>
		</tfoot>
	</table>

	<h2>Totales por Producto</h2>
	<table class="table">
		<thead>
			<tr>
				<th>Producto</th>
				<th class="text-end">Piezas</th>
				<th class="text-end">KG</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let total of item_total_list">
				<td>{{ total.product }}</td>
				<td class="text-end">{{ total.pieces | number:'1.0-0' }}</td>
				<td class="text-end">{{ total.kg | number:'1.2-2' }}</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td>Total</td>
				<td class="fw-bold text-end">{{ total_pieces | number:'1.0-0' }}</td>
				<td class="fw-bold text-end">{{ total_kg | number:'1.2-2' }}</td>
			</tr>
			<tr>
				<td class="fw-bold">Ingresos</td>
				<td class="fw-bold text-end"></td>
				<td class="fw-bold text-end">{{super_total | currency}}</td>
			</tr>
		</tfoot>
	</table>

	<div *ngFor="let payroll_info of payroll_info_list">
		<div class="row">
			<div class="col-8 fw-bold">
				{{ payroll_info.user.name }}
				<span *ngIf="payroll_info.role"> - {{ payroll_info.role.name }}</span>
				<span *ngIf="payroll_info.prices && payroll_info.prices.length > 0"> ({{ payroll_info.prices.join(', ') }})</span>
			</div>
			<div class="col-2 fw-bold">
				<a [routerLink]="['/detalle-nomina-usuario']" [queryParams]="{user_id: payroll_info.user.id, start_date: start_date, end_date: end_date}" class="btn btn-sm btn-info text-white">
					Ver Detalle
				</a>
			</div>
			<div class="col-2 fw-bold">
				@if( this.current_payroll_info_list.length == 0)
				{
					<button class="btn btn-primary" (click)="showAddExtraDeduction(payroll_info)">
						Agregar deducción
					</button>
				}
			</div>
		</div>
		<table class="table">
			<thead>
				<tr>
					<th>Descripción</th>
					<th>Fecha</th>
					<th class="text-end">Total</th>
					<th class="text-end">Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let value of payroll_info.values">
					<td>{{ value.description }}</td>
					<td>{{ value.datetime | shortDate }}</td>
					<td class="text-end fw-bold" [class.text-danger]="value.type === 'DEDUCTION'">
						{{ value.value | number: '1.2-2'}}
					</td>
					<td>
						@if( this.current_payroll_info_list.length == 0 )
						{
							<button *ngIf="value.type === 'DEDUCTION'" type="button" class="btn btn-primary btn-sm btn-danger" (click)="removeDeduction(payroll_info, value)">Eliminar</button>
						}
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td class="text-end"><strong>Subtotal:</strong></td>
					<td class="text-end"><strong>{{ payroll_info.payroll.subtotal | currency }}</strong></td>
				</tr>
				<tr>
					<td class="text-end"><strong>Deducciones:</strong></td>
					<td class="text-end"><strong>{{ (payroll_info.payroll.subtotal - payroll_info.payroll.total) | currency }}</strong></td>
				</tr>
				<tr>
					<td class="text-end"><strong>Total:</strong></td>
					<td class="text-end"><strong>{{ payroll_info.payroll.total | currency }}</strong></td>
				</tr>
			</tfoot>
		</table>
	</div>
	<div class="row">
		@if( this.current_payroll_info_list.length == 0)
		{
			<button type="button" class="btn btn-primary" (click)="save()" [disabled]="!production_area_id || payroll_info_list.length ==0">Guardar Nominas</button>
		}
		<a [routerLink]="['/print-nomina-in-list']" [queryParams]="{start_date: start_date, end_date: end_date, production_area_id: production_area_id}" class="btn btn-secondary">Imprimir</a>
	</div>
</div>


<div class="modal" tabindex="-1" role="dialog" [ngClass]="{'d-block':is_adding_deduction}">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
		@if( editing_payroll_info != null)
		{

			@if( this.current_payroll_info_list.length  == 0)
			{
				<div class="modal-header">
					<h5 class="modal-title">
						Agregar Deducción a {{editing_payroll_info.user.name}}
						<br>
						<small class="fw-bold">Saldo: {{ editing_user_balance | currency }}</small>
					</h5>
				</div>
			}
			<div class="modal-body">
				<div class="form-group">
					<label>Cuenta</label>
					<select class="form-control" name="account" [(ngModel)]="selected_account_id" (ngModelChange)="onAccountSelectionChange()">
						<option *ngFor="let account of user_accounts" [value]="account.id">
							{{ account.name }} - {{ account.currency_id }} - Balance: {{ account.balance | currency:'USD':'symbol':'1.2-2' }}
							<span *ngIf="account.is_main">(Principal)</span>
						</option>
						<option [value]="-1" *ngIf="user_accounts.length === 0">Cuenta Principal (se creará)</option>
					</select>
				</div>
				<div class="form-group">
					<label>Descripción</label>
					<input type="text" class="form-control" name="description" [(ngModel)]="new_deduction.description">
				</div>
				<div class="row">
					<div class="col-6 form-group">
						<label>Cantidad</label>
						<input type="number" class="form-control" name="amount" [(ngModel)]="new_deduction.value" [max]="editing_user_balance">
					</div>
					<!--div class="col-6 form-group">
						<label>Fecha</label>
						<input type="date" class="form-control" [(ngModel)]="new_deduction.datetime">
					</div-->
				</div>
				<div class="row">
					<div class="col-md-6">
						<button type="button" class="btn btn-secondary w-100" (click)="cancelNewDeduction()">Cerrar</button>
					</div>
					<div class="col-md-6">
						<button type="button" class="btn btn-primary w-100" (click)="saveNewDeduction()">Guardar</button>
					</div>
				</div>
			</div>
		}
		</div>
	</div>
</div>
