app-lateral-menu {
  display: block;
  position: fixed;
  height: 100vh;
  width: 250px;
  z-index: 999;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

app-lateral-menu.open {
    transform: translateX(0);
}

.main-content {
  margin-left: 0;
  transition: margin-left 0.3s ease-in-out;
}

.main-content.open {
  margin-left: 250px; /* Same as lateral menu width */
}
