<div class="almacen-container">
	<div class="card mt-3 p-3" style="max-width: 500px;margin: 0 auto;">
		<form (submit)="onGuardar()" ngNativeValidate>
			<div class="row">
				<div class="col-12 py-3">
					<div class="form-group">
						<label for="production_area">Área de Producción</label>
						<select class="form-control" name="selected_production_area_id" [(ngModel)]="selected_production_area_id" (ngModelChange)="productionAreaSelected($event)" required>
							<option [value]="undefined" disabled selected>Seleccione un área</option>
							@for (pa of production_area_info_list; track pa.production_area.id)
							{
								<option [value]="pa.production_area.id">{{pa.production_area.name}} ..</option>
							}
						</select>
					</div>

					@if(last_consumptions.length > 0)
					{
						<div class="mt-3">
							<h5>Últimos 5 registros de consumo</h5>
							<ul class="list-group">
								@for(consumption_info of last_consumptions; track consumption_info.consumption.id)
								{
									<li class="list-group-item">
										Fecha: {{consumption_info.consumption.created | date:'short'}}, Litros: {{consumption_info.consumption.qty}}, Total:
										Total: {{consumption_info.consumption.price*consumption_info.consumption.qty | currency }}
									</li>
								}
							</ul>
						</div>
					}
				</div>
				<div class="col-12 py-3 form-group">
					<label for="fecha">Fecha</label>
					<input type="date" class="form-control" name="fecha" [(ngModel)]="fecha" required>
				</div>
				<div>
					@for(user of users; track user.id )
					{
						<div class="col-12 py-3 form-group">
							{{user.name}} {{user.role.name}}
						</div>
					}
				</div>
				<div class="col-12 py-3 form-group">
					<label for="litros">Litros</label>
					<input type="number" placeholder="Litros" class="form-control" step="any" name="litros" [(ngModel)]="litros" (ngModelChange)="calculateTotalCost()" required autocomplete="off">
				</div>
				<div class="col-12 py-3 form-group">
					<label for="precio">Precio</label>
					<input type="number" placeholder="Precio" class="form-control" step="any" name="precio" [(ngModel)]="precio" (ngModelChange)="calculateTotalCost()" required autocomplete="off">
				</div>
				<div class="col-12 py-3 form-group">
					<label for="total_cost">Costo Total</label>
					<div class="form-control">{{total_cost | currency:'$'}}</div>
				</div>
				<div class="col-12 py-3">
					<button class="btn btn-primary" type="submit">Guardar</button>
				</div>
			</div>
		</form>
	</div>
</div>
