<div class="container">
	<h1>Produccion de {{production_area.name }}</h1>
	<div class="card glovestrap p-3 mx-3 mb-3">
		<div class="row">
			<div class="col-6">
				<label>Fecha de inicio</label>
				<input type="date" name="start_date" [ngModel]="start_date" (ngModelChange)="onStartDateChange($event)" class="form-control">
			</div>
			<div class="col-6">
				<label>Fecha de fin</label>
				<input type="date" name="start_end" [ngModel]="end_date" (ngModelChange)="onEndDateChange($event)" class="form-control">
			</div>
		</div>
	</div>
	<div class="spinner-border" role="status" *ngIf="is_loading">
		<span class="visually-hidden">Loading...</span>
	</div>
	<div class="card glovestrap p-3 mx-3">
		<div class="c-row c-d-none c-d-md-block border-bottom">
			<div class="c-row">
				<div class="col-3 fw-bold">Equipo</div>
				<div class="col-3 fw-bold">Articulo</div>
				<div class="col-2 text-end fw-bold">Kg</div>
				<div class="col-2 text-end fw-bold">Piezas</div>
				<div class="col-2 text-end fw-bold">Promedio Pieza</div>
			</div>
		</div>
		@for (production_info of production_info_list; track production_info)
		{
			<div class="c-row mx-0">
				<div class="col-6 c-d-md-none fw-bold">Equipo</div>
				<div class="col-6 col-md-3">{{production_info.production_area_name }}</div>
				<div class="col-6 col-md-2 c-d-md-none fw-bold">Articulo</div>
				<div class="col-6 col-md-3">{{production_info.item_name }}</div>
				<div class="col-6 col-md-2 c-d-md-none fw-bold">Kilos</div>
				<div class="col-6 col-md-2 text-end">{{production_info.total_qty| number:'1.2-2' }}</div>
				<div class="col-6 col-md-2 c-d-md-none fw-bold">Piezas</div>
				<div class="col-6 col-md-2 text-end">{{production_info.total_alternate_qty |number }}</div>
				<div class="col-6 col-md-2 c-d-md-none fw-bold">Promedio Peso x Pieza</div>
				<div class="col-6 col-md-2 text-end">{{production_info.total_alternate_qty ? (production_info.total_qty/production_info.total_alternate_qty |number:'1.2-2' ) : '' }}</div>
			</div>
		}
		<div class="c-row mx-0 border-top">
			<div class="fw-bold col-6">Total</div>
			<div class="fw-bold col-2 text-end">{{ total_qty | number: '1.2-2' }}</div>
			<div class="fw-bold col-2 text-end">{{ total_alternate_qty |number }}</div>
			<div class="fw-bold col-2 text-end">{{ total_average |number: '1.2-2' }}</div>
		</div>
	</div>
</div>
